<div class="swiper-container-main swiper-container-inner">
    <div class="bg-warp">
        <img src="assets/Mask Group 6.jpg" />
        <div class="skew-inner">
            <div class="skew-inner-content">
                <div class="culture-section culture-section-inner">
                    <div class="circle-shape">
                        <!-- <img src="assets/layout-svg/c1.svg" /> -->
                        <div data-swiper-parallax-x="50%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/layout-svg/c1.svg');"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="culture-section culture-section-bg culture-section-inner">
            <div class="culture-shapes" style=" left: -12%; bottom: -3%;">
                <div data-swiper-parallax="35%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/Ali.png'); background-size: contain;top: 68px;
                height: 251px;"></div>
                <div data-swiper-parallax="55%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/inner/luxor.png'); background-size: contain; z-index: 2;left: 29%;"></div>
                <div data-swiper-parallax="75%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/Church.png'); background-size: contain;z-index:1;left: 49%;top: 68px;
                height: 251px;"></div>
            </div>
        </div>
        <img class="cul-title" src="assets/svg/Culture.svg" />
    </div>
    <div class="main-inner-content">
        <div class="container-fluid p-0">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="innet-title-wrp">
                        <div>
                            <div class="title" data-swiper-parallax="-300">Expereince</div>
                            <!-- sub titles -->
                            <div class="culture-section">
                                <div class="subtitle" data-swiper-parallax="-200">Culture</div>
                            </div>
                            <div class="culture-section">
                                <div class="text" data-swiper-parallax="-100"> The largest museum all over the world!</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9">

                    <div class="slider-wrp-control">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item " role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                          <img src="assets/svg/001-artwork.svg" />
                          Museums
                        </button>
                                <div class="progress-bar pr-item-one"></div>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                          <img src="assets/svg/003-pyramid.svg" />
                          Archeological Sites
                        </button>
                                <div class="progress-bar pr-item-two"></div>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
                          <img src="assets/svg/002-obelisk.svg" />
                          Monuments 
                        </button>
                                <div class="progress-bar pr-item-three"></div>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active h-100" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="swiper-container swiper-container-inner h-100" [swiper]="configOne">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/inner/Group 12577.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Grand Egyptian Museum</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Giza, 35 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">The Grand Egyptian Museum also known as the Giza Museum, is an archaeological museum under construction in Giza.</p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (28).jpg" />
                                                            <h3>Menkaura triads</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (27).jpg" />
                                                            <h3>Statue of Mentuhotep</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (26).jpg" />
                                                            <h3>Statue of Ka-aper</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/inner/Group 12578.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Grand Egyptian Museum</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Giza, 15 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">The Egyptian Museum is the oldest archaeological museum in the Middle East, and houses the largest collection of Pharaonic antiquities in the world. </p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (29).jpg" />
                                                            <h3>Narmer Palette</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (30).jpg" />
                                                            <h3>Statue of the Dwarf Seneb and his Family</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (31).jpg" />
                                                            <h3>Amenhotep III and Tiye Colossal Statue</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="scroll-mini-wrp scroll-mini-wrp-width space-top">
                                                <ul class="scroll-items" data-swiper-parallax="12%">
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/NoPath - Copy (18).jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Grand Egyptian Museum</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/NoPath - Copy (19).jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Museum of Islamic Art</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/NoPath - Copy (20).jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>The Coptic Musuem</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <a class="btn btn-secondary mb-4 w-100" href="#" data-swiper-parallax="-100">Explore All Museums  </a>

                                            </div>
                                            <div data-swiper-parallax="12%" class="slider-bg" style="background-image: url('assets/bg7.jpg'); background-size: contain; background-position: right; z-index: -1;"></div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade show active h-100" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="swiper-container swiper-container-inner h-100" [swiper]="configTwo">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/inner/Group 12579.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Tell-Basta</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%"> Al-Sharkia, 350 KM from Cairo Airport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">Tell Basta gets its name from the ancient Egyptian Per-Bastet “the house of goddess Bastet”, which was the cult center for the feline goddess Bastet, </p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (35).jpg" />
                                                            <h3>The Temple of Bastet</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (36).jpg" />
                                                            <h3>Open Air Museum</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (37).jpg" />
                                                            <h3>Palace of King Amenemhat II</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/inner/Group 12580.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Giza Plateau</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Giza, 35 KM from Cairo Airport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">The pyramids of Giza and the Great Sphinx are among the most popular touristic destinations in the world, and indeed already were even in Roman times. </p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (41).jpg" />
                                                            <h3>The Great Pyramid</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (42).jpg" />
                                                            <h3>Tomb of Queen Meresankh III</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (43).jpg" />
                                                            <h3>Amenhotep III and Tiye Colossal Statue</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="scroll-mini-wrp scroll-mini-wrp-width space-top">
                                                <ul class="scroll-items" data-swiper-parallax="12%">
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/inner/NoPath - Copy (44).jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>El-Hawawish</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/inner/NoPath - Copy (45).jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>El-Sheikh Hamad (Athribis)</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/inner/NoPath - Copy (46).jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Valley of the Kings</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <a class="btn btn-secondary mb-4 w-100" href="#" data-swiper-parallax="-100">Explore All Archeological Sites  </a>

                                            </div>
                                            <div data-swiper-parallax="12%" class="slider-bg" style="background-image: url('assets/bg6.jpg'); background-size: contain; background-position: right; z-index: -1;"></div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade show active h-100" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="swiper-container swiper-container-inner h-100" [swiper]="configThree">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/inner/Mask Group 8.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Sultan al-Mu'ayyad Mosque</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%"> Al-Mu'izz Street, 3 KM from Cairo Airport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">The mosque is located in al-Mu’iz Street, adjacent to Bab Zuwaila. Sultan Al-Mu’ayyad Sheikh founded it in 818 AH / 1415 AD. Al-Maqrizi described it by saying, </p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (49).jpg" />
                                                            <h3>The Temple of Bastet</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (50).jpg" />
                                                            <h3>Open Air Museum</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (51).jpg" />
                                                            <h3>Palace of King Amenemhat II</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/inner/Mask Group 88.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Luxor Temple</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Giza, 13 KM from Luxor Airport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">Luxor Temple, Ipet‑resyt “Southern Sanctuary” to the ancient Egyptians, was so called because of its location within ancient Thebes (modern Luxor). </p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (41).jpg" />
                                                            <h3>The Great Pyramid</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (42).jpg" />
                                                            <h3>Tomb of Queen Meresankh III</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/inner/NoPath - Copy (43).jpg" />
                                                            <h3>Amenhotep III and Tiye Colossal Statue</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="scroll-mini-wrp scroll-mini-wrp-width space-top">
                                                <ul class="scroll-items" data-swiper-parallax="12%">
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/inner/NoPath - Copy (44).jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>El-Hawawish</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/inner/NoPath - Copy (45).jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>El-Sheikh Hamad (Athribis)</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/inner/NoPath - Copy (46).jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Valley of the Kings</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <a class="btn btn-secondary mb-4 w-100" href="#" data-swiper-parallax="-100">Explore All Archeological Sites  </a>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>







        </div>
    </div>
</div>