<div class="swiper-container-main swiper-container-inner">
    <div class="bg-warp">
        <img src="assets/Mask Group 7.jpg" />
        <div class="skew-inner">
            <div class="skew-inner-content">
                <div class="culture-section culture-section-inner">
                    <div class="circle-shape">
                        <!-- <img src="assets/layout-svg/c1.svg" /> -->
                        <div data-swiper-parallax-x="50%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/layout-svg/c3.svg');"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="culture-section culture-section-bg culture-section-inner">
            <div class="culture-shapes " style="left: -12%; bottom: 106px; height:445px">
                <div data-swiper-parallax="56%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/Balloon.png'); background-size: contain;left: 50%;"></div>
            </div>
        </div>
        <img class="cul-title" src="assets/svg/Leisure & Adventure.svg" style="width: 51vw;" />
    </div>
    <div class="main-inner-content">
        <div class="container-fluid p-0">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="innet-title-wrp">
                        <div>
                            <div class="title" data-swiper-parallax="-300">Expereince</div>
                            <!-- sub titles -->
                            <div class="culture-section">
                                <div class="subtitle" data-swiper-parallax="-200">Leisure & Adventure
                                </div>
                            </div>
                            <div class="culture-section">
                                <div class="text" data-swiper-parallax="-100"> Adventure deep into the desert</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9">

                    <div class="slider-wrp-control">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item " role="presentation">
                                <button class="nav-link active" id="Adventure-tab" data-bs-toggle="tab" data-bs-target="#Adventure" type="button" role="tab" aria-controls="Adventure" aria-selected="true">
                        <img src="assets/svg/car (1).svg" />
                        Adventure
                      </button>
                                <div class="progress-bar pr-item-one"></div>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Relaxation-tab" data-bs-toggle="tab" data-bs-target="#Relaxation" type="button" role="tab" aria-controls="Relaxation" aria-selected="false">
                        <img src="assets/svg/081---Sunbathing.svg" />
                        Relaxation & Nature
                      </button>
                                <div class="progress-bar pr-item-two"></div>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Romance-tab" data-bs-toggle="tab" data-bs-target="#Romance" type="button" role="tab" aria-controls="Romance" aria-selected="false">
                        <img src="assets/svg/love.svg" />
                        Romance 
                      </button>
                                <div class="progress-bar pr-item-three"></div>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Family-tab" data-bs-toggle="tab" data-bs-target="#Family" type="button" role="tab" aria-controls="Family" aria-selected="false">
                        <img src="assets/svg/Group 12577.svg" />
                        Family 
                      </button>
                                <div class="progress-bar pr-item-four"></div>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Sun-tab" data-bs-toggle="tab" data-bs-target="#Sun" type="button" role="tab" aria-controls="Sun" aria-selected="false">
                        <img src="assets/svg/sunset.svg" />
                        Sun & Sea 
                      </button>
                                <div class="progress-bar pr-item-five"></div>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active h-100" id="Adventure" role="tabpanel" aria-labelledby="Adventure-tab">
                                <div class="swiper-container swiper-container-inner h-100" [swiper]="configOne">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/les/1.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Coloured Canyon</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Taba, 410 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">One of the natural wonders of the Sinai, the Coloured Canyon, can be visited from Taba. It's a maze of sandstone rocks in hues of yellow, purple, red, magenta and gold reaching up in some places a height
                                                        of 40 meters.</p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/2.jpg" />
                                                            <h3>Safari Trip to Colored Canyon at Nuweiba</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/3.jpg" />
                                                            <h3>Colored Canyon Tour</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/4.jpg" />
                                                            <h3>Living Miracle in the Land</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/les/5.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">The Blue Hole</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Dahab, 589 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">A few kilometers north of Dahab, you will find the world famous 'Blue Hole.\" It is a spectacular, but somewhat dangerous site: corals, fans, eels and dozens of fish species flourish there, </p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/6.jpg" />
                                                            <h3>Diving in Blue Hole Dahab</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/7.jpg" />
                                                            <h3>Dahab Safari & Snorkeling at Blue Hole</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/8.jpg" />
                                                            <h3>Snorkeling at Blue Hole</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="scroll-mini-wrp scroll-mini-wrp-width space-top">
                                                <ul class="scroll-items" data-swiper-parallax="12%">
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/9.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Ras Mohammed</h3>
                                                            <p class="address">Sharm El Shaikh - 430 KM From Cairo</p>
                                                            <p class="time">9:00 AM - 5:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/10.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Pharaohs Island</h3>
                                                            <p class="address">Taba - 410 KM from Cairo</p>
                                                            <p class="time">9:00 AM - 5:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images//les/7.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>The Fjord</h3>
                                                            <p class="address">Taba - 423 KM from Cairo</p>
                                                            <p class="time">9:00 AM - 5:00 PM Weekdays</p>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <a class="btn btn-secondary mb-4 w-100" href="#" data-swiper-parallax="-100">Explore All Adventure  </a>

                                            </div>
                                            <div data-swiper-parallax="12%" class="slider-bg" style="background-image: url('assets/images/les/11.jpg'); background-size: contain; background-position: right; z-index: -1;"></div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade show active h-100" id="Relaxation" role="tabpanel" aria-labelledby="Relaxation-tab">
                                <div class="swiper-container swiper-container-inner h-100" [swiper]="configTwo">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/les/12.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Jolie Ville Golf and Resort</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%"> Taba, 410 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">Located only 7 km away from the lively Naama Bay and 5 km from the Sharm airport, the Jolie Ville Hotel golf course in Sharm El-Sheikh is the only 18-hole championship golf course in the region.</p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/13.jpg" />
                                                            <h3>Maritim Jolie Ville Golf Resort</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/14.jpg" />
                                                            <h3>Golf Holidays</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/15.jpg" />
                                                            <h3>Maritim Jolie Ville Golf Resort View</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/les/16.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Marina Boulevard</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Hurghada, 430 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">A stroll along the Hurghada Marina Boulevard is a must-do: watch multi-million dollar yachts floating on the majestic Red Sea before settling down in one of the upscale cafés, bars or pubs of the Marina.</p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/17.jpg" />
                                                            <h3>Hurghada Marina Boulevard</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/18.jpg" />
                                                            <h3>Sunset view from Hurghada Marina</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/19.jpg" />
                                                            <h3>Events in Hurghada Marina</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="scroll-mini-wrp scroll-mini-wrp-width space-top">
                                                <ul class="scroll-items" data-swiper-parallax="12%">
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/20.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Ras Um Sid</h3>
                                                            <p class="address">Sharm El Shaikh - 430 KM From Cairo</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/21.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>El-Sheikh Hamad (Athribis)</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/20.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Valley of the Kings</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <a class="btn btn-secondary mb-4 w-100" href="#" data-swiper-parallax="-100">Explore All Relaxation & Nature </a>

                                            </div>
                                            <div data-swiper-parallax="12%" class="slider-bg" style="background-image: url('assets/images/les/22.jpg'); background-size: contain; background-position: right; z-index: -1;"></div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade show active h-100" id="Romance" role="tabpanel" aria-labelledby="Romance-tab">
                                <div class="swiper-container swiper-container-inner h-100" [swiper]="configThree">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/les/1.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Coloured Canyon</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Taba, 410 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">One of the natural wonders of the Sinai, the Coloured Canyon, can be visited from Taba. It's a maze of sandstone rocks in hues of yellow, purple, red, magenta and gold reaching up in some places a height
                                                        of 40 meters.</p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/2.jpg" />
                                                            <h3>Safari Trip to Colored Canyon at Nuweiba</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/3.jpg" />
                                                            <h3>Colored Canyon Tour</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/4.jpg" />
                                                            <h3>Living Miracle in the Land</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/les/5.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">The Blue Hole</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Dahab, 589 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">A few kilometers north of Dahab, you will find the world famous 'Blue Hole.\" It is a spectacular, but somewhat dangerous site: corals, fans, eels and dozens of fish species flourish there, </p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/6.jpg" />
                                                            <h3>Diving in Blue Hole Dahab</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/7.jpg" />
                                                            <h3>Dahab Safari & Snorkeling at Blue Hole</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/8.jpg" />
                                                            <h3>Snorkeling at Blue Hole</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="scroll-mini-wrp scroll-mini-wrp-width space-top">
                                                <ul class="scroll-items" data-swiper-parallax="12%">
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/9.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Ras Mohammed</h3>
                                                            <p class="address">Sharm El Shaikh - 430 KM From Cairo</p>
                                                            <p class="time">9:00 AM - 5:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/10.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Pharaohs Island</h3>
                                                            <p class="address">Taba - 410 KM from Cairo</p>
                                                            <p class="time">9:00 AM - 5:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images//les/7.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>The Fjord</h3>
                                                            <p class="address">Taba - 423 KM from Cairo</p>
                                                            <p class="time">9:00 AM - 5:00 PM Weekdays</p>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <a class="btn btn-secondary mb-4 w-100" href="#" data-swiper-parallax="-100">Explore All Adventure  </a>

                                            </div>
                                            <div data-swiper-parallax="12%" class="slider-bg" style="background-image: url('assets/images/les/23.jpg'); background-size: contain; background-position: right; z-index: -1;"></div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade show active h-100" id="Family" role="tabpanel" aria-labelledby="Family-tab">
                                <div class="swiper-container swiper-container-inner h-100" [swiper]="configFour">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/les/12.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Jolie Ville Golf and Resort</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%"> Taba, 410 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">Located only 7 km away from the lively Naama Bay and 5 km from the Sharm airport, the Jolie Ville Hotel golf course in Sharm El-Sheikh is the only 18-hole championship golf course in the region.</p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/13.jpg" />
                                                            <h3>Maritim Jolie Ville Golf Resort</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/14.jpg" />
                                                            <h3>Golf Holidays</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/15.jpg" />
                                                            <h3>Maritim Jolie Ville Golf Resort View</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/les/16.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Marina Boulevard</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Hurghada, 430 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">A stroll along the Hurghada Marina Boulevard is a must-do: watch multi-million dollar yachts floating on the majestic Red Sea before settling down in one of the upscale cafés, bars or pubs of the Marina.</p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/17.jpg" />
                                                            <h3>Hurghada Marina Boulevard</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/18.jpg" />
                                                            <h3>Sunset view from Hurghada Marina</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/19.jpg" />
                                                            <h3>Events in Hurghada Marina</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="scroll-mini-wrp scroll-mini-wrp-width space-top">
                                                <ul class="scroll-items" data-swiper-parallax="12%">
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/20.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Ras Um Sid</h3>
                                                            <p class="address">Sharm El Shaikh - 430 KM From Cairo</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/21.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>El-Sheikh Hamad (Athribis)</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/20.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Valley of the Kings</h3>
                                                            <p class="address">Al-Jizah - 37 KM From Cairo Airport</p>
                                                            <p class="time">9:00 AM - 7:00 PM Weekdays</p>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <a class="btn btn-secondary mb-4 w-100" href="#" data-swiper-parallax="-100">Explore All Relaxation & Nature </a>

                                            </div>
                                            <div data-swiper-parallax="12%" class="slider-bg" style="background-image: url('assets/images/les/24.jpg'); background-size: contain; background-position: right; z-index: -1;"></div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade show active h-100" id="Sun" role="tabpanel" aria-labelledby="Sun-tab">
                                <div class="swiper-container swiper-container-inner h-100" [swiper]="configFive">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/les/1.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Coloured Canyon</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Taba, 410 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">One of the natural wonders of the Sinai, the Coloured Canyon, can be visited from Taba. It's a maze of sandstone rocks in hues of yellow, purple, red, magenta and gold reaching up in some places a height
                                                        of 40 meters.</p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/2.jpg" />
                                                            <h3>Safari Trip to Colored Canyon at Nuweiba</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/3.jpg" />
                                                            <h3>Colored Canyon Tour</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/4.jpg" />
                                                            <h3>Living Miracle in the Land</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="swiper-slide">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/les/5.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">The Blue Hole</h3>
                                                    <p class="short-brif" data-swiper-parallax="12%">Dahab, 589 KM from Cairo Airtport</p>
                                                    <p class="full-brif" data-swiper-parallax="12%">A few kilometers north of Dahab, you will find the world famous 'Blue Hole.\" It is a spectacular, but somewhat dangerous site: corals, fans, eels and dozens of fish species flourish there, </p>
                                                    <div class="d-flex justify-content-between align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/6.jpg" />
                                                            <h3>Diving in Blue Hole Dahab</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/7.jpg" />
                                                            <h3>Dahab Safari & Snorkeling at Blue Hole</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/les/8.jpg" />
                                                            <h3>Snorkeling at Blue Hole</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="scroll-mini-wrp scroll-mini-wrp-width space-top">
                                                <ul class="scroll-items" data-swiper-parallax="12%">
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/9.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Ras Mohammed</h3>
                                                            <p class="address">Sharm El Shaikh - 430 KM From Cairo</p>
                                                            <p class="time">9:00 AM - 5:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images/les/10.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>Pharaohs Island</h3>
                                                            <p class="address">Taba - 410 KM from Cairo</p>
                                                            <p class="time">9:00 AM - 5:00 PM Weekdays</p>
                                                        </div>
                                                    </li>
                                                    <li class="scroll-item d-flex align-items-center">
                                                        <div class="overflow-hidden">

                                                            <img src="assets/images//les/7.jpg" />
                                                        </div>
                                                        <div class="scroll-info ms-4">

                                                            <h3>The Fjord</h3>
                                                            <p class="address">Taba - 423 KM from Cairo</p>
                                                            <p class="time">9:00 AM - 5:00 PM Weekdays</p>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <a class="btn btn-secondary mb-4 w-100" href="#" data-swiper-parallax="-100">Explore All Adventure  </a>

                                            </div>
                                            <div data-swiper-parallax="12%" class="slider-bg" style="background-image: url('assets/images/les/25.jpg'); background-size: contain; background-position: right; z-index: -1;"></div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>







        </div>
    </div>
</div>