<img class="menu-open" *ngIf="menu" (click)="toggleMenu()" src="assets/images/footer.jpg" />
<header>
    <div class="c-19 bg-primary py-1" *ngIf="covid">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center ">
                <p>Your health matter. Read our COVID-19 travel guidelines.</p>
                <a (click)="toggleCovid()">
                    <img class="close" src="assets/svg/close.svg" />
                </a>
            </div>
        </div>

    </div>
    <div class="d-flex position-relative mt-3">
        <a class="align-items-center d-flex justify-content-between menu" (click)="toggleMenu()">
            <img class="me-3" src="assets/svg/Menu.svg" />
        </a>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <a href="/"><img src="assets/images/Logo.svg" /></a>
                <ul class="top-nav">
                    <li class="d-flex justify-content-between align-items-center">
                        <a href="#">About Egypt</a>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">

                        <a href="#" class="me-3 d-flex justify-content-between align-items-center">
                            <img class="me-2" src="assets/svg/ticket.svg" /> E-Tickets
                        </a>
                        <a href="#" class="me-3 d-flex justify-content-between align-items-center">
                            <img class="me-2" src="assets/svg/vase.svg" /> Souvenirs
                        </a>
                    </li>


                    <li class="d-flex justify-content-between align-items-center">
                        <a href="#" class="lang-switcher">
                          English
                          <img src="assets/svg/Expand_More.svg"/>
                      </a>
                        <ul class="hide-menu">
                            <li><a href="#">Arabic</a></li>
                            <li><a href="#">Spanch</a></li>
                            <li><a href="#">Frensh</a></li>
                        </ul>
                    </li>
                    <li class="d-flex justify-content-between align-items-center user-actions">
                        <a href="#" class="me-3">
                            <img src="assets/svg/font-size.svg" />
                            <img src="assets/svg/Expand_More.svg" />
                        </a>
                        <a href="#" class="me-3">

                            <img src="assets/svg/brightness.svg" />
                        </a>
                        <a href="#" class="me-3">

                            <img src="assets/svg/search-interface-symbol.svg" />
                        </a>
                        <a href="#" class="account">
                            <img src="assets/svg/avatar.svg" />
                            <img src="assets/svg/Expand_More.svg" />
                            <!-- <ul class="hide-menu user-data">
                              <li><a href="#">Arabic</a></li>
                              <li><a href="#">Spanch</a></li>
                              <li><a href="#">Frensh</a></li>
                          </ul> -->
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</header>