<!-- circle shape -->

<div class="kids-section {{ visibility ? 'fadeIn' : 'fadeOut' }}">
    <div class="circle-shape " style="transform: translate(-90%, -67%)">
        <div data-swiper-parallax-x="50%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/layout-svg/c7.svg')"></div>
    </div>
</div>
<!-- build shape -->

<div class="kids-section kids-section-bg {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">
    <div class="build-shape " style="left:17%;  width: 732px;height: 330px;">
        <div class="gif gif-2 gif gif-2 slider-bg" data-swiper-parallax-duration="500" data-swiper-parallax-x="70%" style="background-image: url('assets/Gifs/Kids.gif')"></div>
    </div>
</div>
<!-- image shape -->

<div class="kids-section kids-section-bg {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">
    <div class="culture-shapes " style="bottom: 46px; height:602px;left: 20%">
        <div data-swiper-parallax="56%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/boy.png'); background-size: contain;left: 50%;"></div>
    </div>
</div>