@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeOut {
    opacity: 0;
    -moz-animation: fadeout 1s linear;
    -webkit-animation: fadeout 1s linear;
    animation: fadeout 1s linear;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 1;
    -moz-animation: fadeIn 1s linear;
    -webkit-animation: fadeIn 1s linear;
    animation: fadeIn 1s linear;
}