<div class="swiper-container-main swiper-container-inner">
    <div class="bg-warp">
        <img src="assets/kids111.jpg" />
        <div class="skew-inner skew-inner-pyrmid">
            <div class="skew-inner-content">
                <div class="culture-section culture-section-inner">
                    <div class="circle-shape">
                        <!-- <img src="assets/layout-svg/c1.svg" /> -->
                        <div data-swiper-parallax-x="50%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/layout-svg/c7.svg');"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="build-shape " style="left: 5%;  width: 732px;height: 330px; z-index: 3;">
            <div class="gif gif-2 gif gif-2 slider-bg" data-swiper-parallax-duration="500" data-swiper-parallax-x="70%" style="background-image: url('assets/Gifs/Kids.gif')"></div>
        </div>
        <div class="culture-shapes " style="bottom:-12px; height:602px;left: -3%">
            <div data-swiper-parallax="56%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/boy.png'); background-size: contain;left: 50%;"></div>
        </div>
        <img class="cul-title" width="734px" src="assets/svg/Kids World.svg" />
    </div>
    <div class="main-inner-content">
        <div class="container-fluid p-0">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="innet-title-wrp">
                        <div>
                            <div class="title" data-swiper-parallax="-300">Expereince</div>
                            <!-- sub titles -->
                            <div class="culture-section">
                                <div class="subtitle" data-swiper-parallax="-200">Kids World</div>
                            </div>
                            <div class="culture-section">
                                <div class="text" data-swiper-parallax="-100"> Short tag to describe kids world</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9">

                    <div class="slider-wrp-control">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active h-100" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="swiper-container swiper-container-inner h-100" [swiper]="configOne">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" style="width: 36vw;">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/kids/1.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Play & Learn</h3>

                                                    <p class="full-brif" data-swiper-parallax="12%">Play, have fun and discover all about our heritage, Ancient Egypt and our great pharaohs
                                                    </p>
                                                    <div class="d-flex  align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails me-5">
                                                            <img src="assets/images/kids/2.jpg" />
                                                            <h3>Coloring Games</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/kids/3.jpg" />
                                                            <h3>Pharaoh's Quiz</h3>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="swiper-slide" style="width: 36vw;">
                                            <div class="d-flex align-items-center space-top">
                                                <img src="assets/images/kids/4.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <h3 class="inner-title" data-swiper-parallax="12%">Child Story Hub</h3>

                                                    <p class="full-brif" data-swiper-parallax="12%">Play, have fun and discover all about our heritage, Ancient Egypt and our great pharaohs
                                                    </p>
                                                    <div class="d-flex  align-items-top " data-swiper-parallax="12%">
                                                        <div class="slide-thumbnails me-5">
                                                            <img src="assets/images/kids/5.jpg" />
                                                            <h3>Shery and her friends part3</h3>
                                                        </div>
                                                        <div class="slide-thumbnails">
                                                            <img src="assets/images/kids/6.jpg" />
                                                            <h3>Shery and her friends part1</h3>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide kids-slide">
                                            <div class="d-flex align-items-end space-top">
                                                <img src="assets/images/kids/7.jpg" data-swiper-parallax="12%" />
                                                <div class="end-content">
                                                    <img src="assets/images/kids/md.png" />
                                                </div>

                                            </div>
                                            <div data-swiper-parallax="12%" class="slider-bg" style="background-image: url('assets/images/kids/9.jpg'); background-size: contain; background-position: right; z-index: -1;"></div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>







        </div>
    </div>
</div>