<div class="swiper-slide-content ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title" data-swiper-parallax="-300">The Land of</div>
                <div class="subtitle" data-swiper-parallax="-200">Culture Adventures & Mysteries</div>

                <div class="d-flex align-items-center" data-swiper-parallax="-100">
                    <a href="#" class="btn btn-primary rounded-0">Learn More</a>
                    <a href="#" class="fsv">
                        <img src="assets/svg/play-c.svg" />
                    </a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex w-100 align-items-center Highlights" data-swiper-parallax="-300">


                    <img src="assets/images/NoPath - Copy (4).jpg" />

                    <div class="Highlights-info">
                        <h3>National Museum of Egyptian Civilization</h3>
                        <p>Watch Live Event at April 3, 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-swiper-parallax-x="30%" data-swiper-parallax-duration="500" class="slider-bg" style="background-image: url('assets/bg1.jpg');"></div>
<video data-swiper-parallax-x="30%" id="v1" data-swiper-parallax-duration="500" autoplay loop muted>
      <source src="assets/video/Video 1 Pyramids.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>