<div class="circle-shape " style="transform:translate(-118%, -77%);z-index: 3;">
    <div data-swiper-parallax-x="50%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/layout-svg/c13.svg');"></div>

</div>
<div class="build-shape " style="left:52%;z-index: 3;width:430px;height: 240px;">

    <div class="gif gif-2 slider-bg" data-swiper-parallax-x="50%" style="background-image: url('assets/Gifs/WhatsOn.gif')"> </div>
</div>
<div class="swiper-slide-content content-type-2 ">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="subtitle" data-swiper-parallax="-300">What's On</div>
                <div class="text" data-swiper-parallax="-200">Happening Now on Egypt</div>

            </div>

        </div>
        <div class="row mt-5">
            <div class="col-md-6">

                <div class="d-flex align-items-center" data-swiper-parallax="-300">
                    <img src="assets/images/Mask Group 8.jpg" class="me-4" />

                    <div class="cont">
                        <div class="d-flex mb-3">
                            <span class="tag tag-2  me-3">Event</span>
                            <span class="tag tag-2  me-3">Cairo</span>
                            <span class="tag tag-2 ">April 3, 2021</span>
                        </div>
                        <h3>National Museum of Egyptian Civilization</h3>
                        <p>The first veritable museum of civilization in Egypt, the NMEC is located on the archaeological site of El-Fustat in Old Cairo, overlooking the Ain El-Seera Lake.</p>
                        <p>The Museum was designed by Egyptian architect El Ghazzali Kosseiba. The exhibition spaces are being designed by Japanese architect Arata Isozaki.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="scroll-mini-wrp">

                    <ul class="scroll-items scroll-items-2" data-swiper-parallax="-200">
                        <li class="scroll-item d-flex align-items-center">
                            <div class="overflow-hidden">

                                <img src="assets/images/NoPath - Copy.jpg" />
                            </div>
                            <div class="scroll-info ms-4">
                                <p class="tag">News</p>
                                <h3 class="mt-3">Antiquities Ministry organizes mummies restoration program in Fayoum</h3>

                            </div>
                        </li>
                        <li class="scroll-item d-flex align-items-center">
                            <div class="overflow-hidden">

                                <img src="assets/images/NoPath - Copy (2).jpg" />
                            </div>
                            <div class="scroll-info ms-4">
                                <p class="tag">News</p>
                                <h3 class="mt-3">Grand Egyptian Museum receives 4th wooden shrine of Tutankhamun</h3>

                            </div>
                        </li>
                        <li class="scroll-item d-flex align-items-center">
                            <div class="overflow-hidden">

                                <img src="assets/images/trt.jpg" />
                            </div>
                            <div class="scroll-info ms-4">
                                <p class="tag">News</p>
                                <h3 class="mt-3">Tourism ministry releases videos of archaeological discoveries, new museums opened in 2020</h3>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-swiper-parallax="10%" class="slider-bg" style="background-image: url('assets/bg7.jpg'); background-size: contain; background-position: right;"></div>