<div class="swiper-slide-content content-type-2 " *ngIf="visibility">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="title {{visibility ? 'animate__animated animate__fadeInRight': 'animate__animated animate__fadeOutLeft'}}" data-swiper-parallax="-300">Expereince</div>
                <!-- sub titles -->

                <div class="lifestyle-section {{ visibility ? 'animate__animated animate__fadeInRight': 'animate__animated animate__fadeOutLeft' }}">
                    <div class="subtitle " data-swiper-parallax="-200">Egyptian Lifestyle</div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- short note -->

                <div class="lifestyle-section {{ visibility ? 'animate__animated animate__fadeInRight': 'animate__animated animate__fadeOutLeft' }}">
                    <div class="text " data-swiper-parallax="-100"> Short tag to describe Egyptian lifestyle</div>
                </div>


                <!-- counter -->

                <div class="lifestyle-section lifestyle-section-counter {{ visibility ? 'animate__animated animate__fadeInRight': 'animate__animated animate__fadeOutLeft' }}">
                    <div class="d-flex justify-content-between align-items-center counter-wrp " data-swiper-parallax="-100">
                        <div class="counter-data">
                            <p class="count">300</p>
                            <small>Cafe</small>
                        </div>
                        <div class="counter-data">
                            <p class="count">210</p>
                            <small>Resturants </small>
                        </div>

                        <div class="counter-data">
                            <p class="count">670</p>
                            <small>Cuisine</small>
                        </div>
                        <div class="counter-data">
                            <p class="count">451</p>
                            <small>Healthclub</small>
                        </div>
                    </div>
                </div>

                <!--  exp button -->

                <div class="lifestyle-section {{ visibility ? 'animate__animated animate__fadeInRight': 'animate__animated animate__fadeOutLeft' }}">
                    <a class="btn btn-secondary mb-4 " href="#" data-swiper-parallax="-100">Experience More </a>
                </div>

                <!-- main nav -->
                <app-experience-navigation></app-experience-navigation>

            </div>
        </div>
    </div>
</div>

<div class="lifestyle-section lifestyle-section-bg {{ visibility ? 'fadeIn' : 'fadeOut'}}" *ngIf="visibility">
    <div class="slider-bg " data-swiper-parallax-x="30%" style="background-image: url('assets/bg4.jpg');"></div>
    <video data-swiper-parallax-x="30%" data-swiper-parallax-duration="500" autoplay loop muted>
        <source src="video/Video 4 Egyptian Lifestyle.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>