<img src="assets/svg/drag.svg" *ngIf="visibility" class="drag {{ visibility ? 'fadeIn' : 'fadeOut' }}" />
<!-- circle shape -->
<div class="culture-section {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">
    <div class="circle-shape ">
        <!-- <img src="assets/layout-svg/c1.svg" /> -->
        <div data-swiper-parallax-x="50%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/layout-svg/c1.svg');"></div>
    </div>
</div>

<!-- build shape -->
<div class="culture-section culture-section-bg {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">
    <div class="build-shape " style="bottom: 41px; width: 577px;height: 180px;">
        <!-- <img src="layout-svg/c2.svg" /> -->
        <div class="gif gif-2 slider-bg" data-swiper-parallax-x="50%" data-swiper-parallax-duration="500" style="background-image: url('assets/Gifs/Culture.gif')" src="assets/Gifs/Culture.gif"> </div>
    </div>
</div>
<!-- image shape -->
<div class="culture-section culture-section-bg {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">

    <div class="culture-shapes" style="left: 15%;">
        <div data-swiper-parallax="35%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/Ali.png'); background-size: contain;top: 68px;
          height: 251px;"></div>
        <div data-swiper-parallax="55%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/luxor.png'); background-size: contain; z-index: 2;left: 29%;"></div>
        <div data-swiper-parallax="75%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/Church.png'); background-size: contain;z-index:1;left: 49%;top: 68px;
          height: 251px;"></div>
    </div>
</div>