<!-- circle shape -->


<div class="lifestyle-section {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">
    <div class="circle-shape " style="transform:translate(-91%, -66%)">
        <div data-swiper-parallax-x="50%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/layout-svg/c5.svg')"></div>
    </div>
</div>
<!-- build shape -->

<div class="lifestyle-section lifestyle-section-bg {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">
    <div class="build-shape " style="left:13%;  width: 470px;height: 230px;">
        <div class="gif gif-2 gif gif-2 slider-bg" data-swiper-parallax-duration="500" data-swiper-parallax-x="70%" style="background-image: url('assets/Gifs/Lifestyle.gif')"></div>
    </div>
</div>

<!-- image shape -->


<div class="lifestyle-section  lifestyle-section-bg {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">
    <div class="culture-shapes " style="bottom: 46px; height:421px;left: 20%">
        <div data-swiper-parallax="56%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/Tanura.png'); background-size: contain;left: 50%;"></div>
    </div>
</div>