<div class="circle-shape " style="transform:translate(-118%, -77%);z-index: 3;">
    <div data-swiper-parallax-x="50%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/layout-svg/c15.svg');"></div>

</div>
<div class="build-shape " style="left:10px;z-index: 3;width:310px;height: 330px;">

    <div class="gif gif-2 slider-bg" data-swiper-parallax-x="50%" style="background-image: url('assets/Gifs/Media.gif')"> </div>
</div>
<div class="swiper-slide-content content-type-2 ">
    <div class="container">

        <div class="row g-0">
            <div class="col-md-5">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div>
                        <div class="subtitle" data-swiper-parallax="-300">Media</div>
                        <div class="d-flex justify-content-start" data-swiper-parallax="-200">
                            <div class="me-3">
                                <a href="#" class="d-flex flex-column align-items-center justify-content-center media-filter-link">
                                    <img src="assets/svg/image-gallery.svg" />
                                </a>
                                <span class="media-filter-tag">Images</span>
                            </div>
                            <div class="me-3">
                                <a href="#" class="d-flex flex-column align-items-center justify-content-center media-filter-link">

                                    <img src="assets/svg/video-camera.svg" />
                                </a>
                                <span class="media-filter-tag">Video</span>
                            </div>
                            <div class="me-3">
                                <a href="#" class="d-flex flex-column align-items-center justify-content-center media-filter-link">

                                    <img src="assets/svg/360-degrees.svg" />

                                </a>
                                <span class="media-filter-tag">Virtual <br>
                                       Tour</span>
                            </div>
                            <div class="me-3">
                                <a href="#" class="d-flex flex-column align-items-center justify-content-center media-filter-link">

                                    <img src="assets/svg/rating.svg" />
                                </a>
                                <span class="media-filter-tag">Rating</span>
                            </div>
                            <div class="me-3">
                                <a href="#" class="d-flex flex-column align-items-center justify-content-center media-filter-link">

                                    <img src="assets/svg/file.svg" />
                                </a>
                                <span class="media-filter-tag">File</span>
                            </div>
                        </div>
                    </div>
                    <div class="" data-swiper-parallax="-100">
                        <h3 class="media-title">Images</h3>
                        <div class="d-flex justify-content-between">
                            <a data-fancybox="gallery" class="media-images" href="assets/bg3.jpg">
                                <img src="assets/images/media/1.jpg">
                            </a>
                            <a data-fancybox="gallery" class="media-images" href="assets/bg2.jpg">
                                <img src="assets/images/media/2.jpg">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 d-flex">
                <div class="d-flex flex-column" data-swiper-parallax="-100">
                    <h3 class="media-title">Videos</h3>
                    <a data-fancybox="gallery" class="media-images" data-width="900" data-height="700" data-fancybox href="#myVideo">
                        <img class="card-img-top img-fluid" src="assets/images/media/3.jpg">
                        <video width="900" height="700" controls id="myVideo" style="display:none;">
                              <source src="assets/video/Video 2 Monuments and templates.mp4" type="video/mp4">
                          
                              Your browser doesn't support HTML5 video tag.
                            </video>
                    </a>
                    <a data-fancybox="gallery" class="media-images" data-width="900" data-height="700" data-fancybox href="#myVideo">
                        <img class="card-img-top img-fluid" src="assets/images/media/4.jpg">
                        <video width="900" height="700" controls id="myVideo" style="display:none;">
                              <source src="assets/video/Video 4 Egyptian Lifestyle.mp4" type="video/mp4">
                            
                              Your browser doesn't support HTML5 video tag.
                            </video>
                    </a>

                </div>
                <div class="d-flex flex-column" data-swiper-parallax="-100">
                    <h3 class="media-title">Virtual Tour</h3>
                    <a data-fancybox="gallery" class="media-images" href="assets/images/media/5.jpg">
                        <img src="assets/images/media/5.jpg">
                    </a>
                    <a data-fancybox="gallery" class="media-images" href="assets/images/media/6.jpg">
                        <img src="assets/images/media/6.jpg">
                    </a>

                </div>
                <div class="d-flex flex-column" data-swiper-parallax="-100">
                    <h3 class="media-title">Testimonials</h3>
                    <div class="bg-white testimonials h-100">
                        <h4>Wonderful Trip Above Expectation!</h4>
                        <p>Wonderful trip to Egypt! Look at Egypt Tours made an excellent job putting our private tour together. Everything was above expectations!Our representative in Cairo Tarek made us feel very comfortable and secured.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-swiper-parallax="10%" class="slider-bg" style="background-image: url('assets/bg8.jpg'); background-size: contain; background-position: right;"></div>
<img src="assets/svg/drag.svg" class="drag drag-2" />