<footer>
    <div class="container">
        <div class="row position-relative">
            <div class="col-md-6">
                <ul class="d-flex justify-content-lg-between align-items-center footer-nav"></ul>
            </div>
            <a href="#" class="align-items-end d-flex chat-wrp">
                <span class="me-3">Need  Help?</span>
                <div class="d-flex justify-content-center align-items-center rounded-circle bg-primary chat-bot">
                    <img src="assets/svg/chat-bubbles-with-ellipsis.svg" />
                </div>
            </a>
        </div>

    </div>
</footer>