$icomoon-font-family: "etaicons" !default;
$icomoon-font-path: "assets/fonts/etaicons" !default;
$eta-ico-play: "\e908";
$eta-ico-weather: "\e90c";
$eta-ico-menu: "\e900";
$eta-ico-Iceland: "\e901";
$eta-ico-thermometer: "\e902";
$eta-ico-volume: "\e903";
$eta-ico-arrow-backward: "\e904";
$eta-ico-arrow-forward: "\e905";
$eta-ico-close: "\e906";
$eta-ico-head-bottom-arrow: "\e907";
$eta-ico-pause: "\e909";
$eta-ico-pin: "\e90a";
$eta-ico-scroll: "\e90b";