<!-- circle shape -->

<div class="leisure-section {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">
    <div class="circle-shape circle-shape-2 " style="transform:translate(-91%, -66%)">
        <div data-swiper-parallax-x="50%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/layout-svg/c3.svg')"></div>
    </div>
</div>

<!-- build shape -->

<div class="leisure-section leisure-section-bg {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">
    <div class="build-shape " style="left:13%;  width: 430px;height: 240px;">
        <div class="gif gif-2 gif gif-2 slider-bg" data-swiper-parallax-duration="500" data-swiper-parallax-x="70%" style="background-image: url('assets/Gifs/Adventure.gif')"></div>

    </div>
</div>

<!-- image shape -->

<div class="leisure-section leisure-section-bg {{ visibility ? 'fadeIn' : 'fadeOut' }}" *ngIf="visibility">
    <div class="culture-shapes " style="left: 20%; bottom: 106px; height:445px">
        <div data-swiper-parallax="56%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/images/Balloon.png'); background-size: contain;left: 50%;"></div>
    </div>
</div>