.swiper-container-main,
.swiper-container-main-2 {
    width: 100vw;
    height: 100vh;
    float: left;
    scroll-behavior: smooth;
    background: #125988;
    .swiper-slide-main {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background: #1283C6;
        overflow: hidden;
        scroll-behavior: smooth;
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &:before {
            background-color: rgb(0, 0, 0);
            opacity: 0.2;
            z-index: 2;
        }
        &:after {
            background: linear-gradient(rgba(29, 43, 76, 0) 0%, #1d2b4c 100%);
            opacity: 0.5;
            z-index: 4;
        }
    }
    &.swiper-container-inner {
        background: transparent;
    }
}

.swiper-slide-content {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -42%);
}

.slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.pyramid {
    width: 100vw;
    height: 100vh;
    position: absolute;
    clip-path: polygon(38% 0, 107% 112%, 0 100%);
    background: #1283c6;
    // left: calc(-75vw / 2);
    left: -38%;
    z-index: 3;
    transition: background-color 3s;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-color: #0D76B4;
        width: 40%;
        height: 100%;
        transform: skewX( 334deg);
        left: -14.2vw;
        transition: background-color 3s;
    }
    &.kids-pyramid {
        background: #924F82;
        transition: background-color 3s;
        &:before {
            background: #7D3D6D;
            transition: background-color 3s;
        }
    }
}

.drag {
    position: absolute;
    z-index: 111;
    left: 31%;
    top: 41%;
    transform: translate(-50%, -50%);
}

.drag-2 {
    left: 95%;
    top: 58%;
}

.circle-shape {
    position: absolute;
    top: 23vh;
    left: 50%;
    z-index: 1;
    transform: translate(-79%, -54%);
    width: 755px;
    height: 755px;
}

.build-shape {
    position: absolute;
    bottom: 42px;
    z-index: 1;
    left: 23%;
}

.gif {
    opacity: 0.3;
    width: 100%;
}

.gif-2 {
    opacity: 0.4;
}

.culture-shapes {
    position: absolute;
    bottom: 0;
    width: 510px;
    height: 322px;
    z-index: 3;
    left: 34%;
}

// visit swiper
.swiper-slide-visit {
    img {
        max-width: 100%;
    }
    p {
        font-family: Lato;
        @include font-size(20px);
        font-weight: bold;
        margin-top: 6px;
    }
    .slide-visit-info {
        // height: 337px;
        padding: 27px 25px;
        width: 340px;
        h3 {
            color: $dark-primary;
            font-family: Lato;
            @include font-size(20px);
            font-weight: bold;
            margin-bottom: 8px;
        }
        ul {
            li {
                border-bottom: 1px solid rgba(29, 43, 76, 0.13);
                padding: 5px 0;
                a {
                    color: #1283C6;
                    font-family: Lato;
                    @include font-size(16px);
                }
            }
        }
    }
}

.visit-nav {
    background: rgba(255, 255, 255, 0.50);
    margin-bottom: 5px;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 13px;
    }
}