body {
    overflow: hidden
}

.swiper-slide-content {
    .title {
        @include font-size(36px);
        line-height: 1;
    }
    .subtitle {
        @include font-size(90px);
        @include rfs(80px, line-height);
        @include rfs(40px, margin-bottom);
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        font-weight: bold
    }
    .text {
        @include font-size(20px);
    }
    &.content-type-2 {
        .title {
            @include font-size(30px);
        }
        .subtitle {
            margin-bottom: 0;
            line-height: 1;
        }
    }
}

.counter-wrp {
    @include rfs(25px, margin-top);
    @include rfs(20px, margin-bottom);
    .counter-data {
        p {
            @include font-size(40px);
            margin-bottom: 0;
        }
        small {
            font-family: Lato;
            @include font-size(18px);
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.exp-item {
    transition: all .5s;
    margin-right: 20px;
    p {
        @include font-size(17px);
        font-weight: bold;
        margin-top: 5px;
        color: #fff;
    }
    &:hover {
        transform: scale(1.2);
        text-decoration: none;
    }
    &.exp-item-active {
        transform: scale(1.2);
    }
}

.kids-learn {
    .kids-item {
        @include rfs(120px, width);
        @include rfs(120px, height);
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.23);
        img {}
        p {
            margin: 0;
        }
    }
}

.scroll-mini-wrp {
    .scroll-items {
        padding: 0;
        margin: 0;
        max-height: 538px;
        overflow-y: auto;
        .scroll-item {
            margin-bottom: 20px;
            cursor: pointer;
            .scroll-info {
                font-family: 'Lato';
                p {
                    margin: 0;
                }
                h3 {
                    @include font-size(22px);
                    font-weight: bold;
                    margin-bottom: 6px;
                }
                .address,
                .time {
                    @include font-size(16px);
                    color: rgba(255, 255, 255, 0.5);
                    margin-bottom: 6px;
                }
            }
            &:hover {
                img {
                    transform: scale(1.2);
                    transition: all .5s;
                    text-decoration: none;
                }
            }
        }
        &.scroll-items-2 {
            .scroll-item {
                >div {
                    min-width: 149px
                }
                .scroll-info {
                    h3 {
                        @include font-size(18px);
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.tag {
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.2);
    padding: 3px 13px;
    display: inline-block;
    @include font-size(12px);
    margin-bottom: 3px;
}

.tag-2 {
    @include font-size(16px);
    font-family: Lato;
    text-transform: capitalize;
}

.scroll-items::-webkit-scrollbar {
    width: 12px;
    border-radius: 5px;
    overflow: hidden;
}

.scroll-items::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.scroll-items::-webkit-scrollbar-thumb {
    background-color: rgba(18, 132, 198, 0.56);
    border-radius: 5px;
    overflow: hidden;
}

.weather-info {
    .city {
        @include font-size(24px);
        margin-bottom: 0;
    }
    .large-weather {
        font-family: Lato;
        @include font-size(40px);
        font-weight: bold;
        .small-weather {
            @include font-size(16px);
        }
    }
}

.visit-tips {
    @include rfs(38px 34px 31px, padding);
    @include rfs(58px, margin-top);
    background: rgba(0, 0, 0, 0.10);
    h3 {
        font-family: Lato;
        @include font-size(40px);
        font-weight: bold;
        margin-bottom: 19px;
    }
    p {
        font-family: Lato;
        @include font-size(20px);
        margin-bottom: 19px;
    }
}

.cont {
    h3 {
        font-family: Lato;
        @include font-size(30px);
        font-weight: bold;
        margin-bottom: 10px;
    }
    p {
        font-family: Lato;
        @include font-size(20px);
        margin-bottom: 10px;
    }
}

.media-filter-link {
    background: rgba(29, 43, 76, 0.5);
    width: 70px;
    height: 70px;
}

.media-filter-tag {
    @include font-size(18px);
    font-weight: bold;
    margin-top: 10px;
    display: none;
    line-height: 1;
    transition: all 1s;
}

.media-filter-link:hover+.media-filter-tag {
    display: block;
}

.media-title {
    @include font-size(30px);
    font-family: Lato;
    margin-bottom: 15px;
}

.media-images {
    width: 100%;
    height: 223px;
    overflow: hidden;
    img {
        width: 100%;
        object-fit: cover;
    }
    &:hover {
        img {
            transform: scale(1.2);
            transition: all 1s;
        }
    }
}

.testimonials {
    width: 299px;
    padding: 49px 25px;
    h4 {
        @include font-size(24px);
        font-family: Lato;
        font-style: italic;
        color: $primary;
        margin-bottom: 14px;
    }
    p {
        @include font-size(16px);
        font-family: Lato;
        color: #B5B5B5;
    }
}

.fancybox-bg {
    background: #1D2B4C;
}

#Group_12535,
#Group_12538,
#Group_12534,
#Group_12533 {
    cursor: pointer;
    path {
        transition: all 1s ease;
    }
    &:hover {
        path {
            fill: #f80;
            transform: scale(1.4) translate(-5px, -3px);
        }
    }
}

.swiper-container {
    transition-duration: 1.2s!important;
}

.control {
    position: absolute;
    bottom: 66px;
    right: 21px;
    a {
        color: #fff;
        background: #00C2FF;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.map,
.cairo-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 615px;
    height: 607px;
}

.cairo-map {
    border: 1px solid rgba(0, 194, 255, 0.2);
}

video {
    height: 100vh;
}

.Highlights {
    background: rgba(0, 0, 0, 0.10);
    @include margin-top(20px);
    .Highlights-info {
        padding: 13px 20px;
        h3 {
            @include font-size(30px);
            font-family: Lato;
            font-weight: bold;
        }
        p {
            @include font-size(20px);
            font-family: Lato;
        }
    }
}