/* Color system
================================ */

$primary: #00C2FF;
$dark-primary: #1D2B4C;
$secondary: #BF2928;
$success: #4ad991;
$info: #2F479A;
$warning: #FFBB00;
$danger: #ff6565;
$primary-font:#fff;
$black:#000;
$white:#fff;

/* theme color generator
================================ */

$theme-colors: ( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger);

/* Bootstrap variable apply 
================================ */

$body-bg:#fff;
$body-color: $primary-font;
$link-color: $primary;
$link-hover-color: darken($link-color, 15%);
$font-family-base: 'Optima';
$input-btn-focus-color:null;
// $border-color: #707070;
// $box-shadow: 0 3px 6px rgba($black, 0.16);
$input-bg: rgba(26, 38, 67, 0.9);
$input-focus-bg: rgba(18, 132, 198, 0.15);
$input-focus-box-shadow: none;
// $input-color: #fff;
// $input-disabled-bg: #fdfdfd;
// $input-placeholder-color: rgba($input-color, 0.5);
// $input-plaintext-color: $body-color;
// $input-btn-focus-color: null;
// $input-btn-focus-box-shadow: null;
// $input-border-color: rgba($third-gray, 0.8);
// $input-box-shadow: none;
// $input-focus-border-color: $primary;
// $input-focus-color: $input-color;
// $input-focus-width: null;
// $form-feedback-valid-color: $success;
// $form-feedback-invalid-color: $danger;
// $dropdown-border-color: rgba($third-gray, 0.8);
// $btn-disabled-opacity: 0.5;