/*  Bootstrap defulat Variables & custom
================================ */

// Link
$link-decoration: none;
$link-hover-decoration: underline;
$emphasized-link-hover-darken-percentage: 15%;
// Forms
$input-btn-padding-y: 16px;
$input-btn-padding-x: 50px;
$input-padding-y: 14px;
$input-padding-x: 26px;

/*  Bootstrap Grid & container & Grid columns
================================ */

// Grid containers
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1578px);
// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 42px;
$form-grid-gutter-width: 20px !default;

/*  Bootstrap feature option 
================================ */

$enable-caret: true;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-hover-media-query: false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: false;
$enable-validation-icons: false;
$enable-deprecation-messages: true;