<div class="swiper-slide-content ">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="text" data-swiper-parallax="-300">We guide you to get prepared </div>
                <div class="subtitle" data-swiper-parallax="-200">Your Visit</div>
                <div class="d-flex justify-content-between align-items-center" data-swiper-parallax="-100">
                    <!-- Swiper -->
                    <div class="swiper-container-visit swiper-container" [swiper]="config">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide swiper-slide-visit">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <img src="assets/images/media/iStock-1250297438.png" />
                                        <p>Before You Trip</p>
                                    </div>
                                    <div class="bg-white slide-visit-info">
                                        <h3>Prepare your Trip.</h3>
                                        <ul>
                                            <li>
                                                <a class="d-flex justify-content-between align-items-center" href="#">
                                                    Visa and passport
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Customs
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Money
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Security
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Health
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Language
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Driving
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-visit">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <img src="assets/images/media/iStock-1177517517.png" />
                                        <p>During Your Trip</p>
                                    </div>
                                    <div class="bg-white slide-visit-info">
                                        <h3>During Your Trip.</h3>
                                        <ul>
                                            <li>
                                                <a class="d-flex justify-content-between align-items-center" href="#">
                                                    Visa and passport
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Customs
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Money
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Security
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Health
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Language
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Driving
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-visit">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <img src="assets/images/media/iStock-1248071767.png" />
                                        <p>Facilities</p>
                                    </div>
                                    <div class="bg-white slide-visit-info">
                                        <h3>Facilities</h3>
                                        <ul>
                                            <li>
                                                <a class="d-flex justify-content-between align-items-center" href="#">
                                                    Visa and passport
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Customs
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Money
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Security
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Health
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Language
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Driving
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-visit">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                        <img src="assets/images/media/iStock-1256802615.png" />
                                        <p>Your Feedback</p>
                                    </div>
                                    <div class="bg-white slide-visit-info">
                                        <h3>Your Feedback</h3>
                                        <ul>
                                            <li>
                                                <a class="d-flex justify-content-between align-items-center" href="#">
                                                    Visa and passport
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Customs
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Money
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Security
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Health
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Language
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex justify-content-between align-items-center">
                                                    Driving
                                                    <img src="assets/svg/next-arrow.svg" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="d-flex flex-column align-items-center ms-4">
                        <a href="#" class="visit-nav visit-nav-next">
                            <img src="assets/svg/next.svg" />
                        </a>
                        <a href="#" class="visit-nav visit-nav-prev">
                            <img src="assets/svg/back-arrow.svg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center weather-info" data-swiper-parallax="-300">
                    <div class="d-flex flex-column me-5">
                        <p class="city">Hurgada</p>
                        <div class="d-flex">
                            <div class="large-weather me-3">
                                36&#730;
                                <div class="d-flex justify-content-between">
                                    <span class="small-weather">24&#730;</span>
                                    <span class="small-weather">11&#730;</span>
                                </div>
                            </div>
                            <img src="assets/svg/wind.svg" />
                        </div>
                    </div>
                    <div class="d-flex flex-column me-5">
                        <p class="city">Luxor</p>
                        <div class="d-flex">
                            <div class="large-weather me-3">
                                32&#730;
                                <div class="d-flex justify-content-between">
                                    <span class="small-weather">37&#730;</span>
                                    <span class="small-weather">8&#730;</span>
                                </div>
                            </div>
                            <img src="assets/svg/weather.svg" />
                        </div>
                    </div>
                    <div class="d-flex flex-column me-5">
                        <p class="city">Sharm</p>
                        <div class="d-flex">
                            <div class="large-weather me-3">
                                27&#730;
                                <div class="d-flex justify-content-between">
                                    <span class="small-weather">32&#730;</span>
                                    <span class="small-weather">10&#730;</span>
                                </div>
                            </div>
                            <img src="assets/svg/cloudy.svg" />
                        </div>
                    </div>
                    <div class="d-flex flex-column me-5">
                        <p class="city">Cairo</p>
                        <div class="d-flex">
                            <div class="large-weather me-3">
                                21&#730;
                                <div class="d-flex justify-content-between">
                                    <span class="small-weather">24&#730;</span>
                                    <span class="small-weather">11&#730;</span>
                                </div>
                            </div>
                            <img src="assets/svg/weather.svg" />
                        </div>
                    </div>
                </div>
                <div class="visit-tips" data-swiper-parallax="-200">
                    <h3>Tips for Visiting Egypt</h3>
                    <p>The best way to get to some of the places (Egyptian Museum and the Downtown, Cairo Tower, Coptic Cairo or Khan el-Khalili) is by metro</p>
                    <a href="#" class="btn btn-secondary">Load Different Tip</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-swiper-parallax="30%" class="slider-bg" style="z-index: 4;background-image: url('assets/bg6.jpg'); background-size: contain; background-position: right;"></div>
<div class="pyramid" style="left: -19px; clip-path: polygon(38% 0, 107% 134%, 0 100%);">
    <div class="circle-shape " style="transform:translate(-91%, -66%)">

        <div data-swiper-parallax-x="50%" class="slider-bg" data-swiper-parallax-duration="500" style="background-image: url('assets/layout-svg/c11.svg');"></div>
    </div>
    <div class="build-shape " style="left:2%;width:760px;height: 170px;">

        <div class="gif gif-2 slider-bg" data-swiper-parallax-x="50%" style="background-image: url('assets/Gifs/YourVisit.gif')"> </div>
    </div>

</div>
<div class="culture-shapes" style="left: 0%;    z-index: auto;">
    <div data-swiper-parallax="-30%" class="slider-bg" style="background-image: url('assets/images/Egypt-9A-106_-_Temple_of_Dakka__2216648209_-removebg-preview.png'); background-size: contain;z-index: 4;top:-10px"></div>
    <div data-swiper-parallax="-60%" class="slider-bg" style="background-image: url('assets/images/Column.png');background-size: contain;z-index: 2;left: 21%;transform: translate3d(0%, 0px, 0px);transition-duration: 0ms;height: 755px;bottom: 72px;top: auto;"></div>
</div>